<a href="https://colab.research.google.com/github/VivXwan/PepDSNotes/blob/main/Ensemble%20Learning/Ensemble_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Random Forest

In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv("https://raw.githubusercontent.com/Pepcoders/Data-Science-January/main/Ensemble%20Learning/winequality_red.csv") #Wine Quality Dataset.

In [9]:
data.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [10]:
x = data.drop(columns = 'quality')
y = data['quality']

In [13]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 42)

In [16]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
clf = DecisionTreeClassifier(min_samples_split = 2)

In [21]:
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [23]:
clf.score(x_test,y_test)

0.55

In [24]:
clf2 = DecisionTreeClassifier(criterion = 'entropy', max_depth =24, min_samples_leaf= 1)
clf2.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=24)

In [25]:
clf2.score(x_test,y_test)

0.5875

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
rand_clf = RandomForestClassifier(random_state=6)
rand_clf.fit(x_train,y_train)

RandomForestClassifier(random_state=6)

In [28]:
rand_clf.score(x_test,y_test)

0.6708333333333333

In [29]:
grid_param = {
    "n_estimators" : [90,100,115,130],
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,20,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'max_features' : ['auto','log2']
}

In [30]:
from sklearn.model_selection import GridSearchCV

In [31]:
grid_search = GridSearchCV(estimator=rand_clf,param_grid=grid_param,cv=5,n_jobs =-1)

In [ ]:
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_params_

# Stacking:

In [35]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/Pepcoders/Data-Science-January/main/Ensemble%20Learning/diabetes.csv")