<a href="https://colab.research.google.com/github/VivXwan/PepDSNotes/blob/main/Ensemble%20Learning/Ensemble_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Random Forest

In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv("https://raw.githubusercontent.com/Pepcoders/Data-Science-January/main/Ensemble%20Learning/winequality_red.csv") #Wine Quality Dataset.

In [9]:
data.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [10]:
x = data.drop(columns = 'quality')
y = data['quality']

In [12]:
x_train,y_train,x_test,y_test = train_test_split(x,y,test_size = 0.3, random_state = 42)

NameError: ignored