<a href="https://colab.research.google.com/github/VivXwan/PepDSNotes/blob/main/Linear%20Regression/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
class LinearRegression():
  def __init__(self,learning_rate,no_of_iterations):
    self.learning_rate = learning_rate
    self.no_of_iterations = no_of_iterations
  
  def fit(self,X,Y):
    self.m,self.n = X.shape
    self.w = np.zeros(self.n)
    self.b = 0
    self.X = X
    self.Y = Y
    for _ in range(self.no_of_iterations):
      self.update_weights()

  def update_weights(self):
    Y_pred = self.predict(self.X)
    db = (Y_pred - self.Y)/self.m
    dw = ((self.X.T).dot(Y_pred - self.Y))/self.m

    self.w = self.w - self.learning_rate*dw
    self.b = self.b - self.learning_rate*db

  def predict(self,X):
    return X.dot(self.w) + self.b

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [ ]:
salary_data = pd.read_csv('/content/salary_data.csv')

In [ ]:
salary_data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [ ]:
salary_data.tail()

    YearsExperience  Salary
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [ ]:
salary_data.shape

(30, 2)

In [ ]:
salary_data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [ ]:
X = salary_data[['YearsExperience']]      
Y = salary_data['Salary']

In [ ]:
print(X)

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [ ]:
print(Y)

0      39343
1      46205
2      37731
3      43525
4      39891
5      56642
6      60150
7      54445
8      64445
9      57189
10     63218
11     55794
12     56957
13     57081
14     61111
15     67938
16     66029
17     83088
18     81363
19     93940
20     91738
21     98273
22    101302
23    113812
24    109431
25    105582
26    116969
27    112635
28    122391
29    121872
Name: Salary, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state = 2)

In [ ]:
model = LinearRegression(learning_rate = 0.02, no_of_iterations=1000)

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
print('weight = ', model.w[0])
print('bias = ', model.b)

weight =  12799.287423205935
bias =  5     12361.584804
27    -6419.251783
12     3664.639352
4      7431.019024
10     8432.236606
16      504.785065
28    -5911.656506
25    -6026.466101
17     9673.792197
2     11726.409301
7      8546.196727
26    -2870.105445
24    -1166.510866
18     3730.636954
11     2929.269131
22      163.391710
29    -7857.299198
13     2934.306811
15     3329.331116
8     14869.242479
dtype: float64

In [ ]:
test_data_prediction = model.predict(X_test)

In [ ]:
print(test_data_prediction)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
dtype: float64

In [ ]:
print(X_test)

    YearsExperience
1               1.3
0               1.1
14              4.5
9               3.7
21              7.1
19              6.0
23              8.2
6               3.0
3               2.0
20              6.8