<a href="https://colab.research.google.com/github/VivXwan/PepDSNotes/blob/main/Numpy/Assignment_Second_Try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import numpy as np**

In [ ]:
import numpy as np

**Create an array of 10 zeros**

In [ ]:
npzero = np.zeros(10,dtype='int32')

In [ ]:
npzero

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

**Create an array of 10 ones**

In [ ]:
npones = np.ones(10)

In [ ]:
npones

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

**Create an array of 10 fives**

In [ ]:
npfives = np.array([5]*10)
npfives1 = 5*np.ones(10)

In [ ]:
print(npfives1)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

**Create an array of the integers from 10 to 50**

New

In [ ]:
npTenToFifty = np.arange(10,51)

In [ ]:
npTenToFifty

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

**Create an array of all the even integers from 10 to 50**

In [ ]:
npEvenTillFifty = np.arange(10,51,2)

In [ ]:
npEvenTillFifty

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

**Create a 3x4 matrix with numbers ranging from 0 to 12**

In [ ]:
nparr = np.arange(0,12).reshape(3,4)

In [ ]:
nparr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

**Create a 3x3 identity matrix**

In [ ]:
npIden = np.identity(3,dtype = 'int32')

In [ ]:
npIden

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]], dtype=int32)

**Use Numpy to generate a random number between 0 and 1**

Note: output may differ from yours output

In [ ]:
np.random.rand()

0.5578077145150447

**Use Numpy to generate an array of 25 random numbers sampled from a standard normal distribution**

Note: output may differ from yours output

In [ ]:
np.random.randn(25)

array([ 0.35111784, -0.06756446, -0.01735928, -0.77119552, -0.11794845,
       -1.52209537,  0.45733887,  0.36580979,  0.36963274,  0.37928469,
       -1.7657106 , -0.60159872,  1.08107786,  0.97304462,  0.0954429 ,
       -1.38585   ,  0.87301042,  0.20490133, -1.23734474, -0.36511923,
       -1.06221368, -0.2969813 , -0.40899246,  0.25667009,  0.77929472])

**Create an (10x10)array having numbers from 0.01 to 1 increasing by 0.01**

In [ ]:
np.arange(0.01,1.01,0.01).reshape(10,10)

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

#Numpy Indexing and Slicing

In [ ]:
ar = (np.arange(25)+1).reshape(5,5)
ar

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

**extract array**

[
  [12,13,14],

  [17,18,19],

  [22,23,24]
]

In [ ]:
arslice = ar[2:,1:4]

In [ ]:
arslice

array([[12, 13, 14],
       [17, 18, 19],
       [22, 23, 24]])

**extract array**

[
  [14, 13, 12],

  [19, 18, 17],

  [24, 23, 22]
]

In [ ]:
arslice = ar[2:,3:0:-1]

In [ ]:
arslice

array([[14, 13, 12],
       [19, 18, 17],
       [24, 23, 22]])

**extract array**

[
  [24, 23, 22],

  [19, 18, 17],

  [14, 13, 12],  
]

In [ ]:
arrslice = ar[:1:-1,3:0:-1]

In [ ]:
arrslice

array([[24, 23, 22],
       [19, 18, 17],
       [14, 13, 12]])

#Split Concatinate

In [ ]:
ar = np.arange(2,10)
ar

array([2, 3, 4, 5, 6, 7, 8, 9])

**Split array to generate 3 arrays with content**

[2,3,4]

[5, 6]

[]

[7,8,9]

In [ ]:
npsplit = np.split(ar,[3,5,5])

In [ ]:
npsplit

[array([2, 3, 4]), array([5, 6]), array([], dtype=int64), array([7, 8, 9])]

**2D**

In [ ]:
a = np.array([
              [1,2,3],
              [4,5,6]
])
b = np.array([
              [7,8,9]
])

**Concatinate array to create new array with content**

[
  [1,2,3],

  [4,5,6],
  
  [7,8,9]
]

In [ ]:
np.vstack([a,b])

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
np.concatenate((a,b),axis=0)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
a = np.array([
              [1,2,3],
              [4,5,6]
])
b = np.array([
              [7,8,9, 10],
              [11, 12, 13, 14]
])

**Concatinate array to create new array with content**

[

  [1,2,3, 7,8,9, 10],

  [4,5,6, 11, 12, 13, 14]
  
]

In [ ]:
np.hstack([a,b])

array([[ 1,  2,  3,  7,  8,  9, 10],
       [ 4,  5,  6, 11, 12, 13, 14]])

In [ ]:
np.concatenate((a,b),axis=1)

array([[ 1,  2,  3,  7,  8,  9, 10],
       [ 4,  5,  6, 11, 12, 13, 14]])

#Broadcasting and Indexing

below array is created using random values so your output may differ.

In [ ]:
ar = np.round(np.random.rand(10)*10)
ar

array([ 8.,  7., 10.,  4.,  6., 10.,  7.,  6.,  1.,  7.])

**create new array containing all numbers which are smaller than 10 in ar**

In [ ]:
ar[ar<10]

array([8., 7., 4., 6., 7., 6., 1., 7.])

**create new array containing all numbers which are in range [3, 11] in ar**

In [ ]:
ar[(ar>=3) & (ar<=11)]

array([ 8.,  7., 10.,  4.,  6., 10.,  7.,  6.,  7.])

**count how many numbers are minimum in ar**

example for arr = [2, 4, 6, 2, 9, 2]

min is 2

there are 3 occurences of 2

In [ ]:
arr = np.round(np.random.rand(10)*10)
arr

array([3., 8., 9., 5., 0., 2., 6., 3., 8., 1.])

In [ ]:
minarr = arr.min()
print(sum(np.where(arr==minarr,1,0)))
print(arr[arr==minarr].size)

1
1

**Create an array of length 20 with first 15 numbers equal to 2 and last 5 numbers = -5**

In [ ]:
np2and5 = np.concatenate([np.array([2.0]*15),np.array([-5.0]*5)])

In [ ]:
np2and5

array([ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,
        2.,  2., -5., -5., -5., -5., -5.])

**Sum min max of all elements of matrix**

In [ ]:
mat = np.array(
    [[57., 33., 44., 36., 11., 75., 51., 22., 86., 13.],
       [51., 16., 30., 92., 66., 54., 73.,  2., 25., 12.],
       [68., 14., 90., 27., 44., 54., 26., 61.,  1.,  3.],
       [86., 82., 10., 76., 12.,  1., 15., 89., 75., 12.],
       [85.,  6., 80., 14., 99., 12., 72., 14., 27., 20.]]
)
mat

array([[57., 33., 44., 36., 11., 75., 51., 22., 86., 13.],
       [51., 16., 30., 92., 66., 54., 73.,  2., 25., 12.],
       [68., 14., 90., 27., 44., 54., 26., 61.,  1.,  3.],
       [86., 82., 10., 76., 12.,  1., 15., 89., 75., 12.],
       [85.,  6., 80., 14., 99., 12., 72., 14., 27., 20.]])

In [ ]:
sum = mat.sum()
max = mat.max()
min = mat.min()

In [ ]:
print(min)
print(max)
print(sum)

1.0
99.0
2124.0

**Standard deviation of mat**

In [ ]:
std = mat.std()

In [ ]:
std

30.531452634946806

**Sum of all columns of mat**

In [ ]:
columnsum = mat.sum(axis = 0)

In [ ]:
columnsum

array([347., 151., 254., 245., 232., 196., 237., 188., 214.,  60.])

**create array of dimension same as arr using arr.shape variable**

In [ ]:
arr = np.arange(100).reshape(4,5,5)
dim = arr.shape

In [ ]:
arr1 = np.arange(100).reshape(dim)

In [ ]:
arr1

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]],

       [[25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]],

       [[50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69],
        [70, 71, 72, 73, 74]],

       [[75, 76, 77, 78, 79],
        [80, 81, 82, 83, 84],
        [85, 86, 87, 88, 89],
        [90, 91, 92, 93, 94],
        [95, 96, 97, 98, 99]]])